@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

:root{
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: #4e5d73;
    --dark-grayish-blue: hsl(219, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

}
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Manrope, sans-serif;
}
a{
    color: var(--neon-green);
}
.main{
    background-color: var(--dark-blue);
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.wrapper{
    position: relative;
    background-color: var(--dark-grayish-blue);
    width: 500px;
    max-width: 500px;
    height: 350px;
    padding: 30px 20px 0px 20px;
    text-align: center;
    border-radius: 10px;
    text-align: center;
}
.wrapper p{
    color: var(--light-cyan);
    font-size: 28px;
    font-weight: 800;
    margin-top: 10px;
    
}
.wrapper h3{
    color: var(--neon-green);
    font-weight: 400;
    margin: 0px 0 0px 0;
    letter-spacing: 2px;
}

.pattern-divider{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    bottom: 65px;
}
.pattern-divider img{
    width: 100%;

}

.pattern-mobile{
    display: none;
}

.button{
    position: absolute;
    background-color: var(--neon-green);
    cursor: pointer;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    bottom: -75px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button img{
    height: 30px;
}
.button:active {
    width: 65px;
    height: 65px;
}

.rights{
    text-align: justify;
    margin: 100px 10px 0 ;
    color: var(--light-cyan);
}
@media (max-width: 480px) {
    .wrapper{
        max-width: calc(100% - 40px);
        height: 350px;
    }
    .wrapper h3{
        margin-top: 0px 0 0px 0;
    }
    .wrapper p{
        font-size: 24px;
        margin-bottom: 0px;
        margin-top: 25px;
    }
    .button{
        width: 75px;
        height: 75px;
        bottom: -75px;
    }
    .button img{
        display: block;
        height: 30px;
    }
    .pattern-divider{
        margin-top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 40px);
    }
    .pattern-desktop{
        display: none;
    }
    .pattern-mobile{
        display: block;
    }
}

@media (max-width: 360px) {
    .wrapper p{
        font-size: 20px;
    }
}
